Repository KOONGYA-FINE/FINE_Server, pull requests merged in 2023-08, with the labels that each got.

#43 Feat: places GET
  places/serializers.py
  places/views.py
Labels: feat, places

#44 Feature/reviews
  config/permissions.py
  posts/views.py
  reviews/models.py
  reviews/serializers.py
  reviews/urls.py
  reviews/views.py
Labels: feat, fix, posts, reviews

#45 Fix: profiles path variable 수정
  profiles/serializers.py
  profiles/urls.py
  profiles/views.py
Labels: fix, profiles

#47 Fix : posts translation JSON으로 변경
  posts/views.py
  reviews/serializers.py
Labels: fix, posts

#48 Fix : translation 저장 방식 돌려놓음
  posts/views.py
  reviews/serializers.py
Labels: fix, posts

#49 Fix: places model, serializer
  places/models.py
  places/serializers.py
  places/views.py
Labels: fix, places

#50 Feat : profiles GET places, reviews
  places/models.py
  places/serializers.py
  profiles/urls.py
  profiles/views.py
Labels: feat, profiles

#53 Fix: places post, put, delete
  places/models.py
  places/serializers.py
  places/views.py
Labels: fix, places

#54 Fix: profiles 국적 추가
  profiles/serializers.py
Labels: fix, profiles

#55 fix: 사용자 이름 추가
  places/serializers.py
  places/views.py
Labels: fix, places

#56 Fix : profile GetPlaces 에러 처리
  accounts/models.py
  profiles/views.py
Labels: fix, profiles

#57 fix: 로그인시 username 넘겨주기
  accounts/serializers.py
  accounts/views.py
Labels: fix, accounts, profiles

#58 Fix: 자료형 수정 및 반환 데이터 추가
  places/models.py
  places/serializers.py
Labels: fix, places

#59 Feat : PlaceList Tag filter 추가
  places/views.py
  posts/views.py
  profiles/views.py
Labels: feat, places

#61 Fix : post POST 에러 처리 추가
  posts/views.py
Labels: fix, posts

#62 fix: imagefield -> charfield
  accounts/models.py
  accounts/views.py
  config/settings.py
  places/models.py
  places/serializers.py
  places/views.py
  posts/serializers.py
  profiles/serializers.py
  profiles/views.py
Labels: fix, accounts, profiles

#63 fix: charfield->imagefield
  accounts/models.py
  places/models.py
  places/serializers.py
  places/views.py
  posts/serializers.py
  profiles/serializers.py
Labels: fix, accounts, places

#64 fix: 이미지 반환 형식 수정
  places/serializers.py
  places/views.py
  profiles/serializers.py
  profiles/views.py
Labels: fix, places

#65 fix: places form data
  places/serializers.py
  places/views.py
  profiles/serializers.py
  profiles/views.py
Labels: fix, places

#66 fix: profiles PUT
  accounts/models.py
  profiles/serializers.py
  profiles/views.py
Labels: fix, profiles

#67 fix: username, sns 공백 처리
  places/serializers.py
  places/views.py
  profiles/serializers.py
Labels: fix, profiles

#68 Fix: 이미지 처리 수정
  places/serializers.py
  places/views.py
  profiles/serializers.py
Labels: fix, profiles, places

#69 Fix: userId -> userName
  posts/serializers.py
  profiles/urls.py
  profiles/views.py
Labels: fix, profiles

#70 Fix : SearchPlace Tag 쿼리 추가
  places/views.py
Labels: fix, places

#74 Fix : posts POST, PUT translation \n 없을 시 처리
  posts/views.py
Labels: fix, posts
